@font-face {
  font-family: "Bangkok";
  src: url("/assets/rulet/bangkok.ttf");
}

.container {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;

}

.rulet {
  left: 50%;
  top: 50%;
  margin-left: -602px;
  margin-top: -81px;
  position: absolute;
  width: 1205px;
  height: 162px;

  opacity: 1;
  transition: opacity 1s ease;

  &.hidden {
    opacity: 0;
  }
}

.counter {
  font-size: 32px;
  font-family: 'Bangkok';
  color: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  opacity: 1;
  transition: opacity 1s ease;

  &.hidden {
    opacity: 0;
  }
}

@keyframes pontya {
  from { top: 0; height: 0 }
  to { top: -63px; height: 76px }
}

.title {
  position: absolute;
  width: 384px;
  height: 0;
  background: url("/assets/rulet/pontya_roll_text.png") no-repeat;
  top: 0;
  left: 45px;
  animation-name: pontya;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/assets/rulet/frame.png") no-repeat;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/assets/rulet/pontya_roll_back.png") no-repeat;
}


.outer {
  overflow: hidden;
  width: calc(100% - 35px);
  height: 105px;
  position: absolute;
  margin: 34px 27px;

  .inner {
    width: 10720px;
    transition: left 12s cubic-bezier(0.315, 0.170, 0.270, 1.220);
    position: absolute;
    left: -100px;
    display: table;

    &.animation1 {
      transition: left 12s cubic-bezier(0, .75, .15, 1.05);
    }

    &.animation2 {
      transition: left 12s cubic-bezier(.12, .51, .42, 1.26);
    }

    &.animation3 {
      transition: left 12s cubic-bezier(0.315, 0.170, 0.270, 1.220);
    }

    //&.animation4 {
    //  transition: left 12s cubic-bezier(.47, .56, .27, .7);
    //}

    .item {
      width: 268px;
      height: 105px;
      background: url('/assets/rulet/pontya_roll_butt_un_ut.png') no-repeat 0;
      font-family: 'Bangkok';
      color: #fff;
      font-size: 28px;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      padding: 10px;
      box-sizing: border-box;

      &.gold {
        background-image: url('/assets/rulet/pontya_roll_butt_g_ut.png');
        text-shadow: 0 0 8px #ffc13d;
      }

      &.rare {
        background-image: url('/assets/rulet/pontya_roll_butt_r_ut.png');
        text-shadow: 0 0 8px #bd3dff;
      }
      &.weird {
        background-image: url('/assets/rulet/pontya_roll_butt_un_ut.png');
        text-shadow: 0 0 8px #3dafff;
      }
      &.simple {
        background-image: url('/assets/rulet/pontya_roll_butt_c_ut.png');
        text-shadow: 0 0 8px #cecece;
      }

    }
  }

}


