<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>GG DJ</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="wrapper">

        <div class="youtube-player">
          <app-youtube></app-youtube>
        </div>

        <div class="settings">
          <app-settings></app-settings>

          <!--<button mat-button (click)="testVideo()">Тест</button>-->
          <button mat-button (click)="skipVideo()">Пропустить текущее видео</button>
          <br><br>

          <app-queue></app-queue>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <!--<br>-->
  <!--<a (click)="testVideo()">test</a>-->
  <!--<br>-->
  <!--<a (click)="skipVideo()">skip</a>-->


</div>
