<mat-card class="settings-card">
  <mat-card-header>
    <mat-card-title><h3>Настройки</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Минимальная сумма доната" name="limit" [(ngModel)]="settingsService.limit">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Максимальная продолжительность видео (минут)" name="timeLimit" [(ngModel)]="settingsService.timeLimit">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
